/* Body  */
html {
    scroll-behavior: smooth;
}
body {
    background-color: lightgrey;
    font-family: "Calibri Light";
}
/* End */

/* Header */
.header {
    display: flex;
    justify-content: left;
    background-color: transparent;
}

.header h1 {
    font-size: 200%;
    font-weight: bolder;
    padding-left: 40px;
}

.header img {
    width: 80px;
}

/* End */

/* First section */
.topnav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    align-items: center;
    padding: 20px 50px;
    width: 90%;
    top: 5%;

}

.topnav li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.topnav a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease 0s;
    font-weight: bolder;
    font-size: 20px;
}

.topnav a:hover {
    color: lightsteelblue;
}
/* End */

/* Second section */
.second-section {
    display: flex;
    justify-content: center ;
}
.calculator {
    margin-top: 20px;
}
.calculator h1 {
    font-size: 200%;
    margin-left: 32%;

}

#select-calculator {
    margin-bottom: 20px;
    background-color: white;
    border: none;
    width: 65%;
    font-size: inherit;
    margin-left: 20%;
}


#label2 {
    margin-left: 35%;
    font-size: 115%;
}

#input-calculator {
    margin-bottom: 20px;
    margin-left: 31%;
    width: 40%;
}

#btn3 {
    margin-left: 46%;
    width: 5em;
}

#dropdown-output {
    margin-left: 185px;
    font-size: 150%;
    width: 200px;
    border: .2em solid black;
    border-radius: 25px;
    padding: 25px;
}

/* End */

/* Third Section */
.third-section{
    display: flex;
    justify-content: center;
}
.second-cal {
    padding: 200px;
}

.second-cal h1 {
    font-size: 200%;
    margin-left: 32%;
}

#c-f-calculator {
    margin-bottom: 20px;
    border: none;
    width: 65%;
    font-size: inherit;
    margin-left: 20%;
}

#label3 {
    margin-left: 35%;
    font-size: 115%;
}

#c-f-input {
    margin-bottom: 20px;
    margin-left: 31%;
    width: 40%;
}

#btn4 {
    margin-left: 46%;
    width: 5em;
}

#c-f-output {
    margin-left: 185px;
    font-size: 150%;
    width: 200px;
    border: .2em solid black;
    border-radius: 25px;
    padding: 25px;
}
/* End */

/* Responsive */
@media screen and (max-width: 500px) {
    .topnav {
        margin-top: 1em;
        position: absolute;
    }

    .second-section {
        margin-top: 2em;
    }

    #select-calculator {
        margin-left: 25%;
    }

    #input-calculator {
        margin-left: 35%;
    }

    #dropdown-output {
        margin-left: 28%;
    }


    #c-f-calculator {
        margin-left: 25%;
    }

    #c-f-input {
        margin-left: 35%;
    }

}
/* End */