/* Body  */
body {
    background-color: lightgrey;
}
/* End */

/* Header */
.header {
    display: flex;
    justify-content: left;
    background-color: transparent;
}

.header h1 {
    font-size: 200%;
    font-weight: bolder;
    font-family: "Calibri Light";
    padding-left: 40px;
}

.header img {
    width: 80px;
}

/* End */

/* First section */
.topnav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
}

.topnav li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.topnav a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease 0s;
    font-weight: bolder;
    font-size: 20px;
}

.topnav a:hover {
    color: lightsteelblue;
}
/* End */

/* Second section */
.second-section {
    display: flex;
    justify-content: center ;
}
.calculator {
    margin-top: 20px;
}

#select-calculator {
    margin-bottom: 20px;
    background-color: white;
    border: none;
    width: 65%;
    font-size: inherit;
    margin-left: 20%;
}


#label2 {
    margin-left: 35%;
    font-size: 115%;
}

#input-calculator {
    margin-bottom: 20px;
    margin-left: 31%;
    width: 40%;
}

#btn3 {
    margin-left: 46%;
}

#dropdown-output {
    margin-left: 185px;
    font-size: 150%;
    width: 200px;
    border: .2em solid black;
    border-radius: 25px;
    padding: 25px;
}

/* End */